<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class ="contatiner">
    <form action="/new" method="post">
        <div class="form-group">
            <label for="name"> 이름</label>
            <input type="text" id="name" name="name" placeholder="이름 입력하세요">
            <label for="phoneNumber"> 휴대폰 번호</label>
            <input type="text" id="phoneNumber" name="phoneNumber" placeholder="휴대폰 번호를 입력하세요">
        </div>
        <button type="submit"> 등록 </button>
    </form>
</div>

</body>
</html>